Atmos/OpenStation13/ConfigFiles/AtmosGases.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Gases">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="AtmosGas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MeltingPoint" type="xs:decimal" />
              <xs:element name="BoilingPoint" type="xs:decimal" />
              <xs:element name="MolarWeight" type="xs:decimal" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Combustible">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="WithGas">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Autoignition" type="xs:unsignedShort" />
                          <xs:element name="LowerBound" type="xs:unsignedByte" />
                          <xs:element name="UpperBound" type="xs:unsignedByte" />
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>